p,
span {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

h3,
b {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

h4 {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

.features li {
  text-align: center;
}

.description h2,
.description p,
.sights1 span,
.sights2 span,
.sights1 p,
.sights2 p,
.features p,
.features__block2 p,
.features b,
.features__block2 b,
.features__block2 span,
.interest h4
.interest p {
  display: block;
  text-align: center;
}

.features b {
  padding-top: 30px;
}

.main__navigation > ul > li > a {
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.text__white {
  color: #ffffff;
}

.h1__index {
  display: none;
}

.footer__hashtag > a {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.interest > p {
  text-align: center;
  line-height: 24px;
  margin-bottom: 50px;
}

.interest > .btn {
  display: block;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 398px;
  padding: 43px 135px;
  text-align: center;
  background: #766357;
  margin-right: auto;
  margin-left: auto;
}

/* Кнопки в каталоге */

.more,
.book {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 15px;
  text-align: center;
}

.more {
  background: #81b3d2;
}

.book {
  background: #766357;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  color: #766357;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration-style: dotted;
  padding: 5px 15px;
}


/* Разметка сетки */

.container {
  width: 1200px;
  margin: 0 auto;
}

.main__navigation {
  width: 1200px;
  min-height: 100px;
  font-size: 0px;
}

.main__navigation > ul {
  padding: 0;
}

.main__navigation > ul > li {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.main__header {
  width: 1200px;
  height: 508px;
  background: url("../img/background.jpg") no-repeat;
  padding-top: 76px;
  margin-bottom: 60px;
}

.header__text {
  width: 458px;
  height: 350px;
  background: url("../img/welcome.png") no-repeat;
  margin: auto;

}

.white__shape {
  width: 1200px;
  height: 57px;
  background: url("../img/white__shape.png") no-repeat;
  margin: auto;
  margin-top: 101px;

}

.description {
  width: 576px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.sights__block {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
}

.sights1 {
  float:left;
  width: 400px;
  background-color: #81b3d2;
  padding-top: 34px;
  min-height: 222px;
}

.sight1__image {
  float: right;
  width: 800px;
  line-height: 0;
}

.features > ul {
  margin: 0;
  padding: 0;
}

.features1 {
  float: left;
  width: 380px;
  margin-right: 20px;
  margin-bottom: 64px;
}

.features2 {
  float: left;
  width: 380px;
}

.features3 {
  float: right;
  width: 380px;
}

.sights__block2 {
  margin: 0;
  padding: 0;
}

.sights2__image {
  float: left;
  width: 800px;
  line-height: 0;
}

.sights2 {
  float: right;
  width: 400px;
  background-color: #81b3d2;
  padding-top: 34px;
  min-height: 222px;
}

.features__block2 {
  background-color: #eeeeee;
  margin-bottom: 55px;
  min-height: 220px;
}

.features__block2 > ul {
  margin: 0;
  padding: 0;
}

.features4 {
  float: left;
  width: 380px;
  margin-right: 20px;
  padding-top: 28px;
}

.features5 {
  float: left;
  width: 380px;
  padding-top: 28px;
}

.features6 {
  float: right;
  width: 380px;
  padding-top: 28px;
}

.order__form {
  width: 568px;
  height: 395px;
  margin: 0 auto;
}

.main__navigation > ul > li {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.main__footer {
  min-height: 200px;
  padding: 0;
}

.footer__hashtag {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.footer__social {
  display: inline-block;
  width: 33%;
  text-align: center;
}


.footer__copyright {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Разметка сетки для страницы каталога*/

.infrastructure {
  float: left;
  width: 254px;
}

.house__type {
  float: left;
  width: 254px;
}

.house__type {
  float: left;
  width: 400px;
}

.result__found {
  float: left;
  width: 150px;
  padding-top: 30px;
  min-height: 29px;
}

.result__sort {
  float: left;
  width: 600px;
  padding-top: 30px;
}

.result__sort2 {
  float: right;
  width: 100px;
  padding-top: 30px;
}

.catalog > ul {
  padding: 0;
}

.hotel__image {
  float: left;
  width: 134px;
  min-height: 120px;
  padding-left: 73px;
}

.hotel__info {
  float: left;
  width: 650px;
  padding-left: 30px;
}

.hotel__rating {
  float: right;
  width: 240px;
}

.hotel__border {
  border-bottom: 1px solid #e5e5e5;
}

.hotel__border__top {
  border-top: 1px solid #e5e5e5;
}

.hotels > li {
  padding: 0;
  padding-top: 30px;
}
