body {
  min-width: 1200px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

p,
span {
  color: #333333;
  font-weight: normal;
}

h2 {
  font-size: 21px;
  line-height: 26px;
}

h3,
b {
  font-size: 21px;
  text-align: center;
}

h4 {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.features ul,
.features__block2 ul {
  list-style-type: none;
}

.features li {
  text-align: center;
}

.description h2,
.description p,
.sights1 span,
.sights2 span,
.sights1 p,
.sights2 p,
.features p,
.features__block2 p,
.features b,
.features__block2 b,
.features__block2 span,
.interest h4
.interest p {
  display: block;
  text-align: center;
}

.text__white {
  color: #ffffff;
}

.h1__index {
  display: none;
}

.footer__hashtag a {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main__navigation {
  min-height: 56px;
  font-size: 0px;
  margin: 0;
}

.main__navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  padding-top:14px;
  line-height: 0;
}

.main__navigation ul li {
  display: inline-block;
  vertical-align: top;;
  text-align: center;
  width: 20%;
  min-height: 10px;
  margin: 0;
  padding: 0;
}

.main__navigation li:last-child  {
	padding-left: 15px;
	box-sizing: border-box;
}

.logo {
  position: absolute;
  width: 138px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
}

.navigation {
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
}

.navigation:hover {
  color: #81b3d2;
}

.navigation:active {
  color: #cacaca;
}

.navigation__active {
  color: #766357;
}

.navigation__active:hover {
  color: #604e43;
}

.navigation__active:active {
  color: #dbd8d5;
}

.main__header {
  width: 1200px;
  min-height: 432px;
  background: url("../img/background.jpg") no-repeat;
  padding-top: 76px;
  margin-bottom: 60px;
  margin-top: 0;
}

.header__text {
  width: 458px;
  min-height: 350px;
  background: url("../img/welcome.png") no-repeat;
  margin: auto;

}

.white__shape {
  width: 1200px;
  height: 57px;
  background: url("../img/white__shape.png") no-repeat;
  margin: auto;
  margin-top: 25px;
}

.description {
  width: 576px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.description p {
  padding-top: 12px;
}

.sights__block {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.sights1 {
  float:left;
  width: 400px;
  background-color: #81b3d2;
  padding-top: 35px;
  min-height: 221px;
}

.sights1 p {
  padding-top: 6px;
}

.sight1__image {
  float: right;
  width: 800px;
  line-height: 0;
}

.features {
  padding-left: 10px;
  padding-right: 10px;
}

.features ul {
  margin: 0;
  padding: 0;
}

.features1 {
  float: left;
  min-width: 380px;
  margin-right: 20px;
  margin-bottom: 67px;
}

.features2 {
  float: left;
  min-width: 380px;
}

.features3 {
  float: right;
  min-width: 380px;
}

.icon {
  display: inline-block;
  vertical-align: top;
  align: center;
  width: 75px;
  height: 76px;
  margin-bottom: 27px;
  font-size: 0;
}

.icon__house {
  background: url("../img/icon__house.png") no-repeat;
}

.icon__food {
  background: url("../img/icon__food.png") no-repeat;
}

.icon__gift {
  background: url("../img/icon__gift.png") no-repeat;
}

.features p {
  padding-top: 11px;
}

.sights__block2 {
  margin: 0;
  padding: 0;
}

.sights2 p {
  padding-top: 6px;
}

.sights2__image {
  float: left;
  width: 800px;
  line-height: 0;
}

.sights2 {
  float: right;
  width: 400px;
  background-color: #81b3d2;
  padding-top: 35px;
  min-height: 221px;
}

.features__block2 {
  background-color: #eeeeee;
  margin-bottom: 57px;
  min-height: 257px;
  padding-left: 10px;
  padding-right: 10px;
}

.features__block2 ul {
  margin: 0;
  padding: 0;
}

.features__block2 p {
  padding-top: 6px;
}

.features4 {
  float: left;
  width: 380px;
  margin-right: 20px;
  padding-top: 28px;
}

.features5 {
  float: left;
  width: 380px;
  padding-top: 28px;
}

.features6 {
  float: right;
  width: 380px;
  padding-top: 28px;
}

.interest h4 {
  margin-bottom: 29px;
}

.interest p {
  text-align: center;
  line-height: 24px;
  margin-bottom: 46px;
}

.interest a {
  position: relative;
  display: block;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  max-width: 300px;
  padding: 30px 135px;
  text-align: center;
  background: #766357;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

.interest a:hover {
  background-color: #604e43;
}

.interest a:active {
  background-color: #503e33;
  color: #928a85;
}

.modal__content {
  width: 480px;
  padding: 50px 45px 0 45px;
  position: absolute;
  z-index: 20;
  margin-left: 50%;
  left: 0;
  right: 0;
  min-height: 345px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.input__container input[type="text"] {
  float: right;
  box-sizing: border-box;
  width: 346px;
  margin: 0;
  margin-left: 15px;
  margin-bottom: 30px;
  padding: 6px 12px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
}

.input__container input[type="text"]:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.input__container input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.modal__content fieldset {
  border: 0;
}

.form__left {
  float: left;
  padding-top: 10px;
  padding-bottom: 35px;
}

.input__container {
  position: relative;
  float: right;
}

.icon__calendar {
  position: absolute;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;
  opacity: 0.5;
  width: 21px;
  height: 22px;
  display: inline-block;
  vertical-align: top;
  border: none;
  outline: 0;
  background-color: transparent;
  top: 8px;
  right: 10px;
}

.icon__calendar:hover {
  opacity: 1;
}
.icon__calendar:active {
  opacity: 1;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -51px -10px;
}

.adults__kids__block1 {
  display: inline-block;
  float: left;
  vertical-align: middle;
  margin-bottom: 42px;
}

.adults__kids__block2 {
  display: inline-block;
  float: right;
  vertical-align: middle;
}

.adults__kids__left1 {
  display: inline-block;
  margin-right: 37px;
  vertical-align: middle;
}

.adults__kids__left2 {
  display: inline-block;
  margin-right: 23px;
  vertical-align: middle;
}

.adults__kids__btn {
  font-size: 0;
  display: inline-block;
  position: relative;
}

.adults__kids__btn input {
  display: inline-block;
  width: 38px;
  height: 38px;
  font-size: 14px;
  line-height: 26px;
  vertical-align: bottom;
}

.btn__minus, .btn__plus {
  position: relative;
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
	font-size: 0;
}

.btn__minus::after, .btn__plus::after {
  width: 11px;
  height: 11px;
  content: '';
  background: url("../img/sprite.png") no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

.btn__minus::after {
  background-position: -86px -48px;
}

.btn__plus::after {
  background-position: -10px -98px;
}

.btn__minus:hover::after {
  background-position: -86px -48px;
  opacity: 1;
}

.btn__plus:hover::after {
  background-position: -10px -98px;
  opacity: 1;
}

.btn__minus:active::after {
  background-position: -86px -41px;
  opacity: 1;
}
.btn__plus:active::after {
  background-position: -41px -98px;
  opacity: 1;
}

.adults__kids__btn input[type=text] {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
}

.adults__kids__btn input[type=text]:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}

.adults__kids__btn input[type="text"]:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.find {
  display: block;
  width: 460px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  text-decoration: none;
  max-width: 100%;
  padding: 16px 135px;
  text-align: center;
  background: #81b3d2;
  margin-right: auto;
  margin-left: auto;
}

.find:hover {
  background: #669ec0;
}

.find:active {
  background: #5496bd;
  color: #94b9d2;
}

.map {
  position: relative;
  font-size: 0;
  line-height: 0;
}

.main__footer {
  position: absolute;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  min-height: 88px;
  padding: 0;
  padding-top: 32px;
}

.footer__hashtag {
  display: inline-block;
  vertical-align: middle;
  width: 33%;
  text-align: center;
  padding-left: 3px;
}

.footer__social {
  display: inline-block;
  vertical-align: middle;
  width: 33%;
  text-align: center;
  padding-left: 4px;
}

.footer__copyright {
  display: inline-block;
  vertical-align: middle;
  width: 33%;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  padding-left: 4px;
}

.footer__copyright p {
  display: inline-block;
  float: left;
  margin-left: 100px;
  margin-right: 8px;
  vertical-align: middle;
}

.copyright {
  width: 113px;
  height: 39px;
  background: url("../img/html__academy.png") no-repeat;
  display: inline-block;
  float: left;
  vertical-align: middle;
  font-size: 0;
  margin-top: 7px;
}

.copyright:hover {
  background: url("../img/html__academy__blue.png") no-repeat;
}

.copyright:active{
  background: url("../img/html__academy.png") no-repeat;
  opacity: 0.3;
}

.footer__social ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.footer__social li {
  display: inline-block;
  vertical-align: top;
}

.social__btn {
  display: block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
  position: relative;
}

.social__btn:hover {
  background-color: #669ec0;
}

.social__btn:active {
  background-color: #5496bd;
}

.social__btn:after {
  position: absolute;
  top: 50%;
  left: 50%;
  background: url("../img/sprite.png") no-repeat;
  transform: translate(-50%, -50%);
  content: "";
}

.social__btn__tw:after {
  width: 17px;
  height: 15px;
  background-position: -134px -10px;
}

.social__btn__fb:after {
  width: 10px;
  height: 19px;
  background-position: -56px -52px;
}

.social__btn__yt:after {
  width: 20px;
  height: 16px;
  background-position: -118px -52px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.filter {
  background: #50626c url("../img/hotel__background.jpg") no-repeat;
  width: 1200px;
  min-height: 217px;
  color: #ffffff;
}

.filter b {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 11px;
}

.find__house {
  padding: 30px 72px;
  padding-bottom: 10px;
}

.find__house label {
  display: block;
  font-weight: normal;
  padding: 12px 0;
}

.infrastructure {
  display: block;
  float: left;
  width: 254px;
}

.house__type {
  display: block;
  float: left;
  width: 254px;
  margin-right: 72px;
}

.house__type {
  float: left;
  width: 400px;
}

.infrastructure input[type=checkbox],
.house__type input[type=checkbox] {
  display: none;
}

.infrastructure input[type=checkbox]+label,
.house__type input[type=checkbox]+label {
  display: block;
  position: relative;
  padding: 12px 0;
  padding-left: 35px;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  cursor: pointer;
}

.infrastructure input[type=checkbox]+label::before,
.house__type input[type=checkbox]+label::before {
  display: block;
  position: absolute;
  left: 0;
  content: "";
  width: 25px;
  height: 25px;
  background: url("../img/sprite.png") no-repeat -92px -10px;
  cursor: pointer;
}

.infrastructure input[type=checkbox]:checked+label::before,
.house__type input[type=checkbox]:checked+label::before {
  display: block;
  position: absolute;
  left: 0;
  content: "";
  width: 25px;
  height: 22px;
  background: url("../img/sprite.png") no-repeat -10px -52px;
}

.price__day {
  display: inline-block;
  width: 330px;
}

.price__controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left:10px;
  margin-top: -5px;
}

.price__controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background: #ffffff;
}

.price__controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  cursor: pointer;
}

.price__controls .min__price,
.price__controls .max__price {
  width: 90px;
  padding-left: 65px;
  padding-top: 5px;
}

.price__controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range__controls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 10px;
}

.range__controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range__controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range__toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range__toggle__min {
  left: 0;
}

.range__toggle__max {
  left: 80%;
}

.range__toggle:hover {
  background: #1c4f80;
}

.btn__transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn__transparent:hover {
  color: #000000;

  background: #ffffff;
}

.result__found {
  display: inline-block;
  width: 160px;
  padding-top: 32px;
  padding-left: 72px;
  padding-bottom: 25px;
  min-height: 29px;
}

.result__sort {
  display: inline-block;
  width: 600px;
  padding-top: 30px;
  font-size: 12px;
  line-height: 18px;
}

.result__sort span {
  margin-right: 38px;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
  margin-right: 29px;
}

.sort:hover {
  color: #81b3d2;
}

.sort:active {
  color: #000000;
  border: none;
}

.sort__active {
  color: #81b3d2;
  border-bottom: none;
}

.result__sort2 {
  display: inline-block;
  margin-left: 255px;
  width: 100px;
  padding-top: 30px;
  font-size: 0;
}

.triangle__up {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 9px 5px;
  border-color: transparent transparent #cccccc transparent;
  margin-right: 15px;
}

.triangle__up__active {
  border-color: transparent transparent #81b3d2 transparent;
}

.triangle__up:hover {
  border-color: transparent transparent #000000 transparent;
}

.triangle__up:active {
  border-color: transparent transparent #81b3d2 transparent;
}

.triangle__down {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 5px 0 5px;
  border-color: #cccccc transparent transparent transparent;
}

.triangle__down__active {
  border-color: #81b3d2 transparent transparent transparent;
}

.triangle__down:hover {
  border-color: #000000 transparent transparent transparent;
}

.triangle__down:active {
  border-color: #81b3d2 transparent transparent transparent;
}

.catalog > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog ul h2 {
  margin: -3px;
}

.hotel__image {
  float: left;
  width: 134px;
  min-height: 120px;
  padding-left: 73px;
}

.hotel__info {
  float: left;
  width: 498px;
  padding-left: 32px;
}

.hotel__info span {
  display: inline-block;
  margin: 10px 0 15px -3px;
  min-width: 106px;
  padding-right: 10px;
}

.buttons {
  display: block;
  margin-left: -2px;
}

.more,
.book {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 17px;
  text-align: center;
  margin-right: 2px;
}

.more {
  background: #81b3d2;
}

.more:hover {
  background: #669ec0;
}

.more:active {
  background: #669ec0;
  color: #94b9d2;
}

.book {
  background: #766357;
}

.book:hover {
  background: #604e43;
}

.book:active {
  background: #604e43;
  color: #928a85;
}

.hotel__rating {
  float: right;
  width: 112px;
  min-height: 50px;
  margin-right: 70px;
  text-align: right;
}

.star {
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-right: 2px;
  margin-top: -1px;
  background-color: #ffffff;
  position: relative;
}

.star:after {
  position: absolute;
  top: 50%;
  left: 50%;
  background: url("../img/sprite.png") no-repeat;
  transform: translate(-50%, -50%);
  content: "";
}

.star__five:after {
  width: 18px;
  height: 17px;
  background-position: -72px -98px;
}

.rating__text {
  position: relative;
  width: 82px;
  height: 11px;
  padding: 5px 16px;
  top: 43px;
  background-color: #f2f2f2;
}

.hotel__border {
  border-bottom: 1px solid #e5e5e5;
}

.hotel__border__top {
  border-top: 1px solid #e5e5e5;
}

.hotels > li {
  padding: 0;
  padding-top: 30px;
}

.hotels img {
  width: 135px;
  height: 90px;
}

.hotel__name {
  color: #000000;
  text-decoration: none;
}

.hotel__name:hover {
  color: #81b3d2;
}

.hotel__name:active {
  color: #cacaca;
}

.footer__relative {
  position: relative;
  min-height: 120px;
  font-size: 0;
  line-height: 0;
}
