p,
span {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

h3,
b {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}
